#homescreen {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: lato;
  }

  .home {
    width: 80vw;
    height: 80vh;
    border-radius: 40px;
    margin: 0 auto;
    margin-bottom: 80px;

    // background: url(swapnil-deshpandey-ePyY_T5d6RI-unsplash.jpg);
    background-image: url("../../assests/Lotus.jpg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;

    // background-color: #ffffff;
  }

  .tophead {
    position: absolute;
    width: 50vw;
    height: 150px;
    left: 205px;
    top: 78%;
    left: 20%;
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(132, 114, 114, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
  }
  .search {
    cursor: pointer;
  }
  .location {
    font-size: 24px;
  }
  .ultimate {
    font-family: Lato;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 38px;
    margin: 0 auto;
    color: black;
  }
  .places {
    font-family: Lato;
    font-size: 56px;
    font-weight: 800;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    gap: 2px;
  }
  .location {
    // margin: 0 50px;
    width: fit-content;
    font-family: lato;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .local,
  .datecont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .inputtext {
    width: 250px;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 1rem 0.5rem;
  }
  .inputtext:focus,
  .inputtext:active {
    border: none;
  }
  .date {
    border-left: 1px solid black;
    margin: 0 auto;
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .datecontain {
    padding: 1rem 0.5rem;
    width: 120px;
  }
  .search {
    align-self: center;
  }
  .search-icon {
    height: 28px;
    width: 28px;
    color: #98bbe5;
  }

  @media only screen and (max-width: 800px) {
    .home {
      background: none;
      display: flex;

      align-items: center;
      justify-content: center;
    }

    .tophead {
      display: none;
    }
  }
}
