#navs {
  .navbar {
    // position: absolute;
    width: 80vw;
    display: flex;
    left: 138px;
    top: 118px;
    margin: 0 auto;
    padding: 10px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbarcontent {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  .heading {
    font-family: Lato;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
  .container {
    color: var(--primary-color);
  }
  .navcontent {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    transition: 500ms;
  }

  .icon-name {
    height: 20px;
    width: 20px;
  }

  .underline-transition {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
  }

  .underline-transition:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
  }

  .underline-transition:hover:after {
    width: 100%;
  }
  .navcontent:hover {
    font-family: Lato;
    font-size: 24px;
    // font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .active {
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      width: 100%;
      margin: 0;
    }
  }
}
